<h1>Portfolio Items</h1>

<% @ports.each do |port| %>
	<p><%= port.title %></p>
	<p><%= port.subtitle %></p>
	<p><%= port.body %></p>
	<%= image_tag port.thumb_image unless port.thumb_image.nil? %>
<% end %>